<div style="padding: 0 20px">
<h1>Editar Perfil</h1>

<%= render 'form', user: @user %>

<div>
  <%= link_to "Cambiar password", edit_user_registration_path %>
</div>
<div>
  <%= link_to 'Volver', dashboard_path %>
</div>
</div>

