<div class="points">
  <% @user_points.each_with_index do |up, i| %>
    <%
      extra_css = ''
      extra_css += ' first' if i == 0
      extra_css += ' second' if i == 1
      extra_css += ' third' if i == 2
      extra_css += ' active' if up[:name] == current_user.name
    %>
    <div class="user <%= extra_css %>">
      <div><%= i+1 %></div>
      <div><%= up[:name] %></div>
      <div><%= up[:points] %></div>
    </div>
  <% end %>
</div>
