<div class="row text-center full-height the-finals">
  <div class="col-md-2"></div>
  <div class="col-md-8 full-height">
    <div class="page-header the-finals-logo">
    </div>
    <%= render "serie", serie: @the_finals %>
  </div>
  <div class="col-md-2"></div>
</div>
