<div class="row">
  <div class="col-md-3 full-height user-container">
    <%= render "menu" %>
  </div>
  <div class="col-md-9 full-height">
    <p>REVISAR KEY EMAIL IS DUPLICATED PARA NO BORRAR TODOS LOS DATOS</p>
    <p>BORRAR USERS ANIO PASADO</p>
    <p>PONER TODO EN DISABLED DEL ANIO PASADO PARA Q NO JODA CON LOS PUNTOS</p>
  </div>
</div>
