<div class="row">
  <div class="col-md-6">
    <div class="center-text">Conferencia Oeste</div>
    <% @west_series.each do |s| %>
      <%= render "serie", serie: s %>
    <% end %>
  </div>
  <div class="col-md-6">
    <div class="center-text">Conferencia Este</div>
    <% @east_series.each do |s| %>
      <%= render "serie", serie: s %>
    <% end %>
  </div>
</div>
