<div>
  <div>Como funcionan los puntos</div>
  <ul>
    <li>Ganador de serie: 30 puntos</li>
    <li>Partidos ganados por el <strong>perdedor</strong> de la serie: 15 puntos</li>
  </ul>
  <ul>
    <li>Partido Ganado: 5 puntos</li>
    <li>Mas Puntos: 3 puntos</li>
    <li>Mas Asistencias: 1 puntos</li>
    <li>Mas Rebotes: 1 puntos</li>
    <li>Bono por acertar en las 4 de arriba: 2 puntos</li>
  </ul>
  <div>
    Por el momento para poner un 4-0 deberia llenar con datos los primeros 4 partidos y el resto dejarlos todos con "No Hay".
    Por ejemplo, si completas todos los partidos de una serie se considera que es un 4-3
  </div>
</div>
<div class="row text-center">
  <div class="col-md-6 west-container">
    <div class="page-header">
      <h1>Conferencia Oeste</h1>
    </div>
    <% @west_series.each do |s| %>
      <%= render "serie", serie: s %>
    <% end %>
  </div>
  <div class="col-md-6 east-container">
    <div class="page-header">
      <h1>Conferencia Este</h1>
    </div>
    <% @east_series.each do |s| %>
      <%= render "serie", serie: s %>
    <% end %>
  </div>
</div>
