<div class="row text-center">
  <h4>Tabla de Puntos</h4>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <th>#</th>
        <th>Usuario</th>
        <th>Puntos</th>
      </thead>
      <tbody>
        <% @user_points.each_with_index do |up, i| %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= up[:name] %></td>
            <td><%= up[:points] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
