<div class="serie-stat">
  <div class="teams">
    <div class="team">
      <%= image_tag "icons/#{serie_stat.team_a.name.downcase}.svg", class: "team-logo" %>
      <%= serie_stat.winner == serie_stat.team_a ? 4 : serie_stat.loser_win_games %>
    </div>
    <div class="team">
      <%= image_tag "icons/#{serie_stat.team_b.name.downcase}.svg", class: "team-logo" %>
      <%= serie_stat.winner == serie_stat.team_b ? 4 : serie_stat.loser_win_games %>
    </div>
  </div>
</div>
