/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$cavaliers: #860038;
$wizards: #002566;
$raptors: #ce1141;
$warriors: #006bb6;
$spurs: #b6bfbf;
$rockets: #ce1141;
$clippers: #ed174c;
$celtics: #008348;
$jazz: #002b5c;

$east: #0067ac;
$west: #ed254b;

html,
body {
  height: 100%;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0 !important;
}

.page-header {
  margin: 0 0 10px;
  padding: 0;
  text-align: center;
  color: white;
}

table {
  th {
    text-align: center;
  }
  .form-control {
    padding: 6px 3px;
  }
  .game-row-data {
    vertical-align: middle !important;
  }
  .row-data {
    width: 25%;
    padding: 8px 4px !important;
  }
  .no-edit {
    vertical-align: middle;
    height: 51px;
  }
}

.cavaliers {
  color: $cavaliers;
}
.celtics {
  color: $celtics;
}
.wizards {
  color: $wizards;
}
.raptors {
  color: $raptors;
}
.warriors {
  color: $warriors;
}
.spurs {
  color: $spurs;
}
.rockets {
  color: $rockets;
}
.clippers {
  color: $clippers;
}
.jazz {
  color: $jazz;
}

@mixin bgcolor($team, $color) {
  &.#{$team} {
    background-color: $color;
    color: white;
    font-weight: bold;
    font-size: 20px;
  }
}

.panel {
  .panel-heading {
    color: white;
  }

  .flex-header {
    display: flex;
    justify-content: space-around;
  }

  .team-header {
    @include bgcolor("warriors", $warriors);
    @include bgcolor("clippers", $clippers);
    @include bgcolor("spurs", $spurs);
    @include bgcolor("rockets", $rockets);
    @include bgcolor("cavaliers", $cavaliers);
    @include bgcolor("raptors", $raptors);
    @include bgcolor("celtics", $celtics);
    @include bgcolor("wizards", $wizards);
    @include bgcolor("jazz", $jazz);

    width: 100%;

    .team-logo {
      height: 50px;
    }
  }
}

.full-height {
  height: 100%;
}

.west-container {
  background-color: $west;
}
.east-container {
  background-color: $east;
}

.mvp-select {
  width: 20%;
  margin: 10px auto;
  display: inline;
}

.mvp {
  background: #333;
  color: white;
  margin-top: -20px;
  padding: 15px;
}

.the-finals {
  background-color: #000;
}
.the-finals-logo {
  height: 100px;
  background-position: center;
  background-image: url("//cdn.nba.net/assets/playoffs/2017/images/leftrail/RW_LeftRailHeader_Finals_bkg_xxxhdpi.jpg");
}

//---------------------
// User menu
//---------------------
.user-menu {
  background-color: #090909;
  color: white;
  font-size: 15px;

  .team-logo {
    border: 2px solid white;
    border-radius: 50%;

    @include bgcolor("warriors", $warriors);
    @include bgcolor("clippers", $clippers);
    @include bgcolor("spurs", $spurs);
    @include bgcolor("rockets", $rockets);
    @include bgcolor("cavaliers", $cavaliers);
    @include bgcolor("raptors", $raptors);
    @include bgcolor("celtics", $celtics);
    @include bgcolor("wizards", $wizards);
    @include bgcolor("jazz", $jazz);
  }

  .team-name {
    font-size: 20px;
    font-weight: 600;
  }

  .row {
    margin-top: 10px;
  }

  .puntos {
    color: black;
  }
}
