/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$cavaliers: #860038;
$bulls: #CE1141;
$wizards: #002566;
$raptors: #CE1141;
$warriors: #006BB6;
$spurs: #B6BFBF;
$rockets: #CE1141;
$clippers:  #ED174C;

$east: #0067ac;
$west: #ed254b;

.navbar {
  margin-bottom: 0;
}

.page-header {
  margin: 0 0 10px;
  padding: 0;
  text-align: center;
  color: white;
}

table {
  th {
    text-align: center;
  }
  .form-control {
    padding: 6px 3px;
  }
  .game-row-data {
    vertical-align: middle !important;
  }
  .row-data {
    width: 25%;
    padding: 8px 4px !important;
  }
}

.cavaliers {
 color: $cavaliers;
}
.bulls {
 color: $bulls;
}
.wizards {
 color: $wizards;
}
.raptors {
 color: $raptors;
}
.warriors {
 color: $warriors;
}
.spurs {
 color: $spurs;
}
.rockets {
 color: $rockets;
}
.clippers {
  color: $clippers;
}

@mixin bgcolor($team, $color) {
  &.#{$team} {
    background-color: $color;
    color: white;
    font-weight: bold;
    font-size: 20px;
  }
}

.panel {
  .panel-heading {
    color: white;
  }

  .flex-header {
    display: flex;
    justify-content: space-around;
  }

  .team-header {
    @include bgcolor("warriors", $warriors);
    @include bgcolor("clippers", $clippers);
    @include bgcolor("spurs", $spurs);
    @include bgcolor("rockets", $rockets);
    @include bgcolor("cavaliers", $cavaliers);
    @include bgcolor("raptors", $raptors);
    @include bgcolor("bulls", $bulls);
    @include bgcolor("wizards", $wizards);

    width: 100%;

    .team-logo {
      height: 50px;
    }
  }
}

.west-container {
  background-color: $west;
}
.east-container {
  background-color: $east;
}
