/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

//---------------------
// Team Colors
//---------------------

$nets: #000000;
$magic: #0077c0;
$pistons: #c8102e;
$hornets: #1d1160;
$nuggets: #0e2240;
$clippers: #c8102e;
$cavaliers: #6f263d;
$wizards: #0c2340;
$celtics: #007a33;
$raptors: #ba0c2f;
$sixiers: #003da5;
$pacers: #041e42;
$heat: #862633;
$bucks: #00471b;
$warriors: #003da5;
$spurs: #c6cfd4;
$rockets: #ce1141;
$jazz: #0c2340;
$pelicans: #0c2340;
$blazers: #c8102e;
$thunder: #0072ce;
$timberwolves: #002b5c;

.cavaliers {
  color: $cavaliers;
}
.wizards {
  color: $wizards;
}
.celtics {
  color: $celtics;
}
.raptors {
  color: $raptors;
}
.sixiers {
  color: $sixiers;
}
.pacers {
  color: $pacers;
}
.heat {
  color: $heat;
}
.bucks {
  color: $bucks;
}
.warriors {
  color: $warriors;
}
.spurs {
  color: $spurs;
}
.rockets {
  color: $rockets;
}
.jazz {
  color: $jazz;
}
.pelicans {
  color: $pelicans;
}
.blazers {
  color: $blazers;
}
.thunder {
  color: $thunder;
}
.timberwolves {
  color: $timberwolves;
}
.nets {
  color: $nets;
}
.magic {
  color: $magic;
}
.pistons {
  color: $pistons;
}
.hornets {
  color: $hornets;
}
.nuggets {
  color: $nuggets;
}
.clippers {
  color: $clippers;
}

@mixin bgcolor($team, $color) {
  &.#{$team} {
    background-color: $color;
    color: white;
  }
}
@mixin bordercolor($team, $color) {
  &.#{$team} {
    border-color: $color;
  }
}

@mixin teamsbg() {
  @include bgcolor("warriors", $warriors);
  @include bgcolor("spurs", $spurs);
  @include bgcolor("rockets", $rockets);
  @include bgcolor("cavaliers", $cavaliers);
  @include bgcolor("raptors", $raptors);
  @include bgcolor("celtics", $celtics);
  @include bgcolor("wizards", $wizards);
  @include bgcolor("jazz", $jazz);
  @include bgcolor("pelicans", $pelicans);
  @include bgcolor("timberwolves", $timberwolves);
  @include bgcolor("pacers", $pacers);
  @include bgcolor("thunder", $thunder);
  @include bgcolor("blazers", $blazers);
  @include bgcolor("bucks", $bucks);
  @include bgcolor("sixiers", $sixiers);
  @include bgcolor("heat", $heat);
  @include bgColor("nets", $nets);
  @include bgColor("magic", $magic);
  @include bgColor("pistons", $pistons);
  @include bgColor("hornets", $hornets);
  @include bgColor("nuggets", $nuggets);
  @include bgColor("clippers", $clippers);
}

@mixin teamsborder() {
  @include bordercolor("warriors", $warriors);
  @include bordercolor("spurs", $spurs);
  @include bordercolor("rockets", $rockets);
  @include bordercolor("cavaliers", $cavaliers);
  @include bordercolor("raptors", $raptors);
  @include bordercolor("celtics", $celtics);
  @include bordercolor("wizards", $wizards);
  @include bordercolor("jazz", $jazz);
  @include bordercolor("pelicans", $pelicans);
  @include bordercolor("timberwolves", $timberwolves);
  @include bordercolor("pacers", $pacers);
  @include bordercolor("thunder", $thunder);
  @include bordercolor("blazers", $blazers);
  @include bordercolor("bucks", $bucks);
  @include bordercolor("sixiers", $sixiers);
  @include bordercolor("heat", $heat);
  @include bordercolor("nets", $nets);
  @include bordercolor("magic", $magic);
  @include bordercolor("pistons", $pistons);
  @include bordercolor("hornets", $hornets);
  @include bordercolor("nuggets", $nuggets);
  @include bordercolor("clippers", $clippers);
}

//---------------------
// App Layout
//---------------------

body {
  overflow: hidden;
}

.content-container {
  flex: 1 1 auto;

  display: flex;
  flex-flow: row nowrap;

  overflow: hidden;
}

.app-container {
  display: flex;
  flex-flow: column nowrap;

  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.navbar {
  flex: none;
  margin: 0;
  border-radius: 0 !important;
}

.brackets-container {
  flex: 1 1 auto;

  overflow: hidden;
}

.menu-container {
  flex: none;

  display: flex;
  flex-flow: column nowrap;

  position: relative;
  overflow: hidden;

  width: 300px;
}

.mvp-select {
  width: 20%;
  margin: 10px auto;
  display: inline;
}

.mvp {
  background: #333;
  color: white;
  margin-top: -20px;
  padding: 15px;
}

//---------------------
// User menu
//---------------------

.user-menu {
  background-color: #090909;
  color: white;
  font-size: 15px;
  height: 100%;
  width: 300px;
  padding: 20px 30px;

  flex: 1 1 auto;

  flex-flow: column nowrap;

  overflow-y: auto;

  .team-logo {
    border: 2px solid white;
    border-radius: 50%;

    @include teamsbg();
  }

  .team-name {
    font-size: 20px;
    font-weight: 600;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;

    .team-btn {
      @include teamsbg();
    }
  }

  .points {
    margin-top: 10px;
    color: white;
    display: flex;
    flex-direction: column;

    .user {
      color: white !important;
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      padding: 6px 3px;

      .position {
        opacity: 0.5;
      }
    }

    .first {
      background-color: rgba(gold, 0.8);
    }
    .second {
      background-color: rgba(silver, 0.8);
    }
    .third {
      background-color: rgba(brown, 0.8); // bronze
    }
    .active {
      font-size: 15px;
      font-weight: bold;
      border: 2px dashed grey;

      @include teamsborder();
    }
  }
}

//---------------------
// Brackets
//---------------------

.brackets {
  height: 100%;
  background-image: image-url("background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
  //grid-template-columns: 130px 130px 130px 130px 130px 130px 130px;
  grid-template-areas:
    "wq1 ws-1 wf finals ef es-1 eq1"
    "wq2 ws-1 wf finals ef es-1 eq2"
    "wq3 ws-2 wf finals ef es-2 eq3"
    "wq4 ws-2 wf finals ef es-2 eq4";

  // ROUND 1
  .west-quarter-1 {
    grid-area: wq1;
    justify-self: start;
  }
  .west-quarter-2 {
    grid-area: wq2;
    justify-self: start;
  }
  .west-quarter-3 {
    grid-area: wq3;
    justify-self: start;
  }
  .west-quarter-4 {
    grid-area: wq4;
    justify-self: start;
  }
  .east-quarter-1 {
    grid-area: eq1;
    justify-self: end;
  }
  .east-quarter-2 {
    grid-area: eq2;
    justify-self: end;
  }
  .east-quarter-3 {
    grid-area: eq3;
    justify-self: end;
  }
  .east-quarter-4 {
    grid-area: eq4;
    justify-self: end;
  }

  // SEMIS
  .west-semis-1 {
    grid-area: ws-1;
    align-self: center;
    justify-self: start;
  }
  .west-semis-2 {
    grid-area: ws-2;
    align-self: center;
    justify-self: start;
  }
  .east-semis-1 {
    grid-area: es-1;
    align-self: center;
    justify-self: end;
  }
  .east-semis-2 {
    grid-area: es-2;
    align-self: center;
    justify-self: end;
  }

  // CONF FINALS
  .west-finals {
    grid-area: wf;
    align-self: center;
    justify-self: start;
  }
  .east-finals {
    grid-area: ef;
    align-self: center;
    justify-self: end;
  }

  // FINALS
  .the-finals {
    grid-area: finals;
    align-self: center;
    justify-self: center;
  }

  .serie-stat {
    display: flex;

    .teams {
      display: flex;
      flex-direction: column;

      .team {
        .team-logo {
          height: 75px;
        }
        .prediction {
          color: white;
          font-weight: bold;
          font-size: 15px;
        }
      }
    }

    .btn-ok {
      align-self: center;
    }

    &.finals {
      flex-direction: column;
      .teams {
        flex-direction: row;
        .team {
          display: flex;
          flex-direction: column;
        }
        .team-logo {
          height: 125px;
        }
        select {
          width: 60px;
          align-self: center;
        }
        btn-ok {
          position: relative;
          bottom: -20px; // moverlo para abajo pero dejando los equipos alineados
        }
      }
    }
  }

  .serie-placeholder {
    width: 130px;
    height: 120px;
    border: 2px dashed grey;
  }
}

//---------------------
// Scrollbars
//---------------------

::-webkit-scrollbar {
  width: 7px; /* for vertical scrollbars */
  height: 7px; /* for horizontal scrollbars */
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  /* barra scroll */
  background: lighten(#090909, 15%);
  border-radius: 20px;
}

//---------------------
// Mobile media queries
//---------------------

@media only screen and (max-width: 600px) {
  .menu-container {
    display: none;
  }

  .brackets {
    overflow: auto;
  }
}
